@import "../../../utils/colors/colors";
@import "../../../utils/mixins/mediaQueries.scss";

.register-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/images/page-background.jpg");

  .Wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    background-color: $secondary-color;

    .other-group {
      .urlLink {
        padding: 1rem;
        div {
          color: $primary-color;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
