@use "../../../utils/mixins/mediaQueries.scss" as *;

// Define color variables
$primary-color: #221f14;
$secondary-color: #f1efe3;

.landing-page {
  height: 100vh;
  color: $primary-color;

  .splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .fade-out {
      opacity: 1;
      animation: fadeOut 1s forwards;
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  .main {
    .header {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      color: $primary-color;
      background-color: $secondary-color;

      .logo {
        font-size: 1.6rem;
        font-weight: bolder;
      }

      .menu {
        display: none;
        .menu-items {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 24px;
          .item {
            color: $primary-color;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
          }

          .signin {
            padding: 8px 24px;
            color: #fff;
            background-color: $primary-color;
            border-radius: 24px;
            cursor: pointer;
          }
        }

        @include lg {
          flex-direction: row;
          height: auto;

          display: block;
        }
      }

      .SideMenuWrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background-color: $primary-color;
        transform: translateX(100%);
        transition: transform 0.2s ease;
        z-index: 10;

        .menu-items {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
        }

        .item {
          color: #fff;
          font-size: 1.2rem;
          font-weight: 500;
        }
        .icon {
          padding-top: 1rem;
          padding-right: 1rem;
          display: flex;
          justify-content: flex-end;
        }
      }

      .hide {
        transform: translateX(0);
        transition: transform 0.2s ease;
      }

      .menuIcon {
        font-size: 1.8rem;
        font-weight: 500;
        cursor: pointer;

        @include lg {
          display: none;
        }
      }
    }

    .home {
      color: $primary-color;
      background-color: $secondary-color;

      .home-container {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem;
        background-image: url(../../../assets/images/Background-image.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;

        .content {
          display: flex;
          flex-direction: column;
          gap: 16px;
          width: 60vw;
          background-color: #ffffff42;
          padding: 3rem;
          border-radius: 24px;
          box-shadow: 1px 8px 16px $primary-color 0.6;
          .heading {
            font-size: 1.2rem;
            font-weight: bolder;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            @include lg {
              font-size: 2.4rem;
            }
          }
          p {
            word-wrap: break-word;
            font-weight: 500;
            font-size: 0.8rem;

            @include lg {
              font-size: 1.1rem;
            }
          }
          .get-start-btn {
            padding: 1rem;
            background-color: $primary-color;
            color: $secondary-color;
            font-size: 0.6rem;
            border-radius: 24px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include lg {
              font-size: 1rem;
            }
          }
          @include lg {
            gap: 24px;
            width: 40vw;
          }
        }
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-color: $secondary-color;
      .aboutus-heading {
        height: 10px;
        background-color: $primary-color;
      }
      .aboutus-details {
        height: 100vh;
        background-image: url(../../../assets/images/About.jpg);
        background-position: center;
        background-size: cover;
        .contrast {
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;

          .card {
            width: 60vw;
            background-color: $primary-color;
            padding: 3rem;
            border-radius: 24px;
            box-shadow: 1px 8px 16px $primary-color 0.6;
            color: $secondary-color;
            font-weight: 500;
            font-size: 0.8rem;
            @include lg {
              font-size: 1rem;
              width: 40vw;
            }
          }
        }
      }
    }

    .page {
      //   height: 100vh;
    }
  }
}
